@model IEnumerable<Curso_Identity.Models.AppUsuario>
@{
    ViewData["Title"] = "Acceso de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="text-center">Administracion de Usuarios</h1>

@if (TempData["Correcto"] != null)
{

    <div class="alert alert-success alert-dismissible fade show" role="alert">

        @TempData["Correcto"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>

}
@if (TempData["Error"] != null)
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>

}


<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header">

                <h3><strong>Lista de usuarios</strong></h3>
            </div>


        </div>

        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="d-lg-table table-bordered" id="tablaUsuario" width="100%" cellspacing="0">

                        <thead>

                            <tr>
                                <th>@Html.DisplayNameFor(pro=>pro.Nombre)</th>
                                <th>@Html.DisplayNameFor(pro=>pro.Email)</th>
                                <th>@Html.DisplayNameFor(pro=>pro.telefono)</th>
                                <th>@Html.DisplayNameFor(pro=>pro.Rol)</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(m=>item.Nombre)</td>
                                    <td>@Html.DisplayFor(m=>item.Email)</td>
                                    <td>@Html.DisplayFor(m=>item.telefono)</td>
                                    <td>@Html.DisplayFor(m=>item.Rol)</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                                        <a class="btn btn-success" asp-controller="Usuarios" asp-action="Bloquear" asp-route-id="@item.Id">Bloquear</a>
                                        <a class="btn btn-danger" asp-controller="Usuarios" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>

                                    </td>



                                </tr>




                            }
                        </tbody>






                    </table>
                }
                else
                {
                    <p>No hay registros</p>

                }




            </div>



        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>

        $(document).ready(Function(){



            $('#tablaUsuario').DataTable({

                language: {
                    "Decimal": "",
                    "emptyTable": "no hay informacion",
                    "info": "Mostrando_START_END_de",
                    "InfoEmpty": "Mostrando 0 to 0 entradas",
                    "infoFiltered": "(Filtrando de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "LengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "Processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"


                    }


                }



            });

});
</script>
        }